<html>
<head>
<title>RoboTaxi</title>    
<canvas id="myCanvas" width="1400" height="700">
</canvas>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://www.WebRTC-Experiment.com/RecordRTC.js"></script>
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script>
  
  const video = document.querySelector('video');
  let recorder;
  var canvas = document.getElementById('myCanvas');
  var ctx = canvas.getContext('2d');

  //ctx.globalCompositeOperation = 'destination-over'
  ctx.fillStyle = "gray";
  ctx.fillRect(0, 0, canvas.width, canvas.height);

  async function stopRecordingCallback() {
      video.srcObject = null;

      let blob = await recorder.getBlob();

      video.src = URL.createObjectURL(blob);
      recorder.stream.getTracks(t => t.stop());

      console.log(blob);

      var formData = new FormData();
      formData.append('video-blob', blob);

      xhr('/finish', formData, function (fName) {
	  console.log("Video successfully uploaded!");
      });
  }

  async function xhr(url, data, callback) {
      console.log('calling xhr');
      var request = new XMLHttpRequest();
      request.onreadystatechange = function () {
	  if (request.readyState == 4 ** request.status == 200) {
	      callback(location.href + request.responseText);
	  }
      };
      request.open('POST', url);
      request.send(data);
  }

  // start recording after clicking (reccomended to not play around with this too much)
  async function start_recording_main() {

      //specify the stream types wanted
      let stream = await navigator.mediaDevices.getUserMedia({video: true, audio: true});

      video.srcObject = stream;
      recorder = new RecordRTCPromisesHandler(stream, {
	  type: 'audio'
      });

      await recorder.startRecording();

      recorder.stream = stream;
  };

  // stop recording after clicking (reccomended to not play around with this too much)
  async function stop_recording_main() {
      await recorder.stopRecording();
      // send the information back
      stopRecordingCallback();
  };


  //game variables and constants
  var C_WIDTH, C_HEIGHT, score, cycles, max_cycles, DOT_SIZE, map_size_x, map_size_y;
  var leftDirection = false;
  var rightDirection = true;
  var upDirection = false;
  var downDirection = false;
  var finished = false;
  var next_transition = [1, 0];
  var x, y;
  const LEFT_KEY = 37;
  const RIGHT_KEY = 39;
  const UP_KEY = 38;
  const DOWN_KEY = 40;

  async function get_initial_values() {
      return fetch('/init')
	  .then(function(response) {
  	      return response.json();
	  }).then(function (json) {
  	      C_WIDTH = json.C_WIDTH;
  	      C_HEIGHT = json.C_HEIGHT;
  	      score = json.score;
  	      cycles = json.cycles;
  	      max_cycles = json.max_cycle;
	      x = json.bus.x;
	      y = json.bus.y;
	      map_size_x = json.map_size_x
	      map_size_y = json.map_size_y
	  });
  };

  async function get_render_items() {
      // GET is the default method, so we don't need to set it
      return fetch('/render')
  	      .then(function (response) {
  		  return response.json();
  	      }).then(function (json) {
		  //update info based on json
		  x = json.bus.x;
		  y = json.bus.y;
		  finished = json.finished;
		  
  		  // GET the states of all the game figures
  		  // Render said states accordingly

		  ctx.clearRect(0, 0, C_WIDTH * 2, C_HEIGHT);
		  ctx.fillStyle = 'black';
		  ctx.textBaseline = 'middle'; 
		  ctx.textAlign = 'center'; 

		  //add font functionality later
		  ctx.font = 'normal bold 40px serif';

		  //create basic rendering of the right side of the screen
		  ctx.fillText('EARNINGS', C_WIDTH + 200, C_HEIGHT / 2 + 100)

		  ctx.fillStyle = '#A0522D';
		  ctx.fillRect(C_WIDTH + 138, C_HEIGHT / 2 + 125, 125, 50)

		  ctx.fillStyle = 'black';
		  if (score < 0)
		      ctx.fillText('-$' + (-1 * score), C_WIDTH + 200, C_HEIGHT / 2 + 150)
		  else
		      ctx.fillText('$' + score, C_WIDTH + 200, C_HEIGHT / 2 + 150)

		  ctx.fillText('Time', C_WIDTH + 200, C_HEIGHT / 2 + 225)
		  ctx.font = 'normal bold 24px serif';
		  ctx.fillText(cycles + "/" + max_cycles, C_WIDTH + 200, C_HEIGHT / 2 + 260)

		  if (json.bus.orientation == 0) {
		      //add whatever image with ctx.drawImage
		  }
		  else if (json.bus.orientation == 1) {

		  }
		  else if (json.bus.orientation == 2) {

		  }
		  else if (json.bus.orientation == 3) {

		  }

  	      });
  }

  async function send_inputs() {
      // POST
      return fetch('/inputs', {
  	      // Specify the method
  	      method: 'POST',
  	      
  	      // A JSON payload
  	      body: JSON.stringify({
  		  //Send the any keyboard input
  		  "next_transition": [0, 1]
		  //video/audio?
  		  //also current state of the game?
  	      })
	  }).then(function (response) {
  	      return response.json();
	  }).then(function (json) {
  	      
	  });
  }

  async function render_end() {
      console.log(C_WIDTH);

      //render the game when the maximum amount of steps has been done
      ctx.clearRect(0, 0, C_WIDTH * 2, C_HEIGHT);
      ctx.fillStyle = "gray";
      ctx.fillRect(0, 0, canvas.width, canvas.height);
      ctx.fillStyle = 'black';
      ctx.textBaseline = 'middle'; 
      ctx.textAlign = 'center'; 
      ctx.font = 'normal bold 50px serif';

      //basically putting the minus sign in the right spot
      ctx.fillText("Finished " + cycles + " steps", C_WIDTH, 50); 
      if (score < 0)
	  ctx.fillText('Score: -$' + (-1 * score), C_WIDTH, C_HEIGHT/2 + 45);
      else
	  ctx.fillText('Score: $' + score, C_WIDTH, C_HEIGHT/2 + 45);
  }

  async function run_game() {
      await get_initial_values();
      //while (cycles < max_cycles) {

      //	  send_inputs();

      //	  while (!finished) {
      //	      await get_render_items();
      //	  }

      //	  finished = false;
      //	  cycles += 1;
      //}
      await render_end();
  }


  run_game();
  


  //Get keyboard input
  onkeydown = function(e) {
      var key = e.keyCode;
      var tempX = x / DOT_SIZE;
      var tempY = y / DOT_SIZE;

      if ((key == LEFT_KEY) && (!rightDirection) && (tempX > 1)) {      
      	  next_transition = [-1, 0];
      }
      else if ((key == RIGHT_KEY) && (!leftDirection) && (tempX < map_size_x -2)) {
      	  next_transition = [1, 0];
      }
      else if ((key == UP_KEY) && (!downDirection) && (tempY > 1)) {
      	  next_transition = [0, -1];
      }
      else if ((key == DOWN_KEY) && (!upDirection) && (tempY < map_size_y -2)) {
      	  next_transition = [0, 1];
      }
  }

</script>
  
</head>

<hr>

<video id="my-preview" controls autoplay></video>
</html>
